.navigation-bar {
    /* position: fixed;
    left: 0;
    top: 0; */
    display: flex;
}

.navigation-bar a {
    display: block;
    padding: 15px;
    margin: 15px 0;
    text-decoration: none;
    
    background: white;
    color: black;
    box-shadow: 0 8px #ffcc66;
}

.navigation-bar a:hover, .navigation-bar a.active {
    background: #66ccff;
    color: white;
    box-shadow: 0 8px #00aaff;
}